h1{
    font-family: 'Poor Story', 'Times New Roman', Times, serif;
    font-size: 110px;
    text-align: center;
    color: aliceblue;
    border: 3px solid;
}
table, th, td {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    font-size:20px;
}
h3{
    color: aliceblue;
    text-align: center;
    border: 1px dotted;
}
*{
  background-image:     url("https://www.riotinto.com/-/media/Content/Images/About/Innovation/AI/artificial-intelligence.jpg?rev=3bfa49f4f00d4b75b442381590ba6f95?w=1440&hash=55E441B570A53BC16A031A8CFC80682D");
}